@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 16%; /* #282828 */
    --foreground: 0 0% 98%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 285 87% 53%; /* #A020F0 */
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 22%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 183 100% 74%; /* #7DF9FF */

    --chart-1: 285 87% 53%;
    --chart-2: 183 100% 74%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 63.9%;
    --sidebar-primary: 285 87% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 183 100% 74%;
  }

  .dark {
    --background: 0 0% 16%;
    --foreground: 0 0% 98%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 285 87% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 183 100% 74%;
    --chart-1: 285 87% 53%;
    --chart-2: 183 100% 74%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 63.9%;
    --sidebar-primary: 285 87% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 183 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
